/** @format */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.layout {
	display: grid;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"header header header header"
		"section section section aside "
		"footer footer  footer  footer  ";
	color: white;
	font-size: 22px;
}

header {
	grid-area: header;
	background-color: #03a9f4;
	position: relative;
}

header::after {
	position: absolute;
	content: "header";
	top: 10px;
	left: 10px;
}

section {
	grid-area: section;
	position: relative;
	background-color: #ff5722;
}

section::after {
	position: absolute;
	content: "section";
	top: 10px;
	left: 10px;
}

aside {
	grid-area: aside;
	background-color: #607d8b;
	position: relative;
}

aside::after {
	position: absolute;
	content: "aside";
	top: 10px;
	left: 10px;
}

footer {
	grid-area: footer;
	background-color: #009688;
	position: relative;
}

footer::after {
	position: absolute;
	content: "footer";
	top: 10px;
	left: 10px;
}
